{% extends "base.html" %} {% block content %} {% load static %}

<input id="csrf_token_url" type="hidden" value="{{ csrf_token }}" />
<input id="user_id" type="hidden" value="{{ user.pk }}" />

<input id="get_finances_url" type="hidden" value="{% url 'finances:get_finances' %}" />

<input id="save_earnings_url" type="hidden" value="{% url 'finances:save_earnings' %}" />
<input id="edit_earnings_url" type="hidden" value="{% url 'finances:edit_earnings' %}" />
<input id="fix_earnings_url" type="hidden" value="{% url 'finances:fix_earnings' %}" />
<input id="remove_earnings_url" type="hidden" value="{% url 'finances:remove_earnings' %}" />

<input id="save_expense_url" type="hidden" value="{% url 'finances:save_expense' %}" />
<input id="edit_expense_url" type="hidden" value="{% url 'finances:edit_expense' %}" />
<input id="fix_expense_url" type="hidden" value="{% url 'finances:fix_expense' %}" />
<input id="remove_expense_url" type="hidden" value="{% url 'finances:remove_expense' %}" />

<input id="get_expenses_category_url" type="hidden" value="{% url 'finances:get_expenses_category' %}" />
<input id="save_category_expense_url" type="hidden" value="{% url 'finances:save_category_expense' %}" />
<input id="edit_category_expense_url" type="hidden" value="{% url 'finances:edit_category_expense' %}" />
<input id="remove_category_expense_url" type="hidden" value="{% url 'finances:remove_category_expense' %}" />

{% block style %}

<!-- Sweet Alert -->
<link href="{% static 'vendors/SwetAlert/sweetalert2.min.css' %}" rel="stylesheet">

{% endblock %}

<!-- page content -->
<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="header-date">
                <div class="col-md-8">
                    <h3>Gerenciamento de finanças</h3>
                    <p> Gerencie aqui seus ganhos e suas despesas do mês</p>
                </div>
                <div class="col-md-4">

                    <div class="ui calendar calendar-select">
                        <div class="ui input left icon">
                            <i class="icon fa fa-calendar"></i>
                            <input name="date" type="text" placeholder="Mês">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress-bar-total-month hide-values-chart">
                <div class="progress progress_sm" data-toggle="tooltip" data-placement="bottom" data-total-earnings="0"
                    data-original-title="">
                    <div class="progress-bar" data-toggle="tooltip" data-placement="bottom" data-original-title=""
                        role="progressbar" data-total-expense="0" data-transitiongoal=""></div>
                </div>
            </div>
        </div>
    </div>

    <!-- card earnings -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ganhos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content earnings-content" style="display: block;">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <form class="earnings-form" data-parsley-validate>
                            <div class="form-group earnings-input">
                                <div class="col-sm-6">
                                    <input type="text" name="title" placeholder="Nome" class="form-control"
                                        autocomplete="off" required="required">
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" name="value" placeholder="R$ 0,00" autocomplete="off"
                                            class="form-control mask_money" required="required">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fa fa-check"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divider-dashed"></div>

                        <table class="table table-striped table-editable">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Valor</th>
                                    <th class="head-actions">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="earnings-tbody">
                                <!-- Table here -->
                            </tbody>
                            <tfoot>
                                <!-- <tr>
                                    <th>Total</th>
                                    <th>R$ 15.000,00</th>
                                    <th></th>
                                </tr> -->
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <table class="table-info">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-circle"></i>Total</td>
                                    <td class="hide-values value-total"> --- </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-circle"></i>Saldo</td>
                                    <td class="hide-values value-balance"> --- </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="chart-info">
                            <canvas id="earnings_chart"></canvas>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /card earnings -->

    <!-- card expense -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Gastos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content expense-content" style="display: block;">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <form class="expense-form" data-parsley-validate>
                            <div class="form-group expense-input">
                                <div class="input col-sm-4">
                                    <input type="text" name="title" placeholder="Nome" class="form-control"
                                        autocomplete="off" required="required">
                                </div>
                                <div class="input col-sm-3">
                                    <input type="text" name="value" placeholder="R$ 0,00" autocomplete="off"
                                        class="form-control mask_money" required="required">
                                </div>

                                <div class="btn-group input col-sm-5" required="required">
                                    <select class="form-control" name="category">
                                        <!-- Option here -->
                                    </select>

                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i
                                                class="fa fa-check"></i></button>
                                    </span>
                                </div>

                            </div>
                        </form>
                        <div class="divider-dashed"></div>

                        <table id="table_expenses" class="table table-striped table-editable">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Valor</th>
                                    <th>Categoria</th>
                                    <th class="head-actions">Ações</th>
                                </tr>
                            </thead>
                            <tfoot>
                            </tfoot>
                            <tbody class="expense-tbody">
                                <!-- Table here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <table class="table-info">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-circle"></i>Total</td>
                                    <td class="hide-values value-total"> --- </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-circle"></i>Saldo</td>
                                    <td class="hide-values value-balance"> --- </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-circle"></i>Categorias</td>
                                    <td class="category-edit" data-toggle="modal" data-target=".modal-category-edit"><a
                                            href="#!">Editar</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- <div class="chart-info">
                            <canvas id="expense_chart"></canvas>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /card expense -->


</div>
<!-- /page content -->


<!-- Small modal -->
<div class="modal fade modal-category-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Categorias de Gastos</h4>
            </div>
            <div class="modal-body">
                <form class="category-expense-form" data-parsley-validate>
                    <div class="form-group category-expense-input">
                        <div class="input-group">
                            <input type="text" name="title" placeholder="Nome do grupo" autocomplete="off"
                                class="form-control" required="required">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="divider-dashed"></div>
                <table class="table table-striped table-editable">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th class="head-actions">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="category-expense-tbody">
                        <!-- Table here -->
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Sair</button>
            </div>

        </div>
    </div>
</div>
<!-- /modals -->


{% endblock %}

{% block scripts %}

<!-- jquery mask -->
<script src="{% static 'js/jquery.mask_money.min.js' %}"></script>
<script src="{% static 'js/mask_class.js' %}"></script>

<!-- Date Input (https://codepen.io/SaadRegal/pen/ZOABQr)-->
<script src="{% static 'js/semantic-datepicker.min.js' %}"></script>

<!-- Sweet Alert -->
<script src="{% static 'vendors/SwetAlert/sweetalert2.min.js' %}"></script>


<!-- Me JS -->
<script src="{% static 'js/finances.js' %}"></script>

{% endblock %}