{% extends "base.html" %} {% block content %}

<!-- page content -->
<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="header-date">
                <div class="col-md-8">
                    <h3>Gerenciamento de finanças</h3>
                    <p> Gerencie aqui seus ganhos e suas despesas do mês</p>
                </div>
                <div class="col-md-4">

                    <div class="ui calendar calendar-select">
                        <div class="ui input left icon">
                            <i class="icon fa fa-calendar"></i>
                            <input name="date" type="text" placeholder="Mês">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress-bar-total-month">
                <div class="progress progress_sm" data-toggle="tooltip" data-placement="bottom" data-total-earnings="0" data-original-title="">
                    <div class="progress-bar" data-toggle="tooltip" data-placement="bottom" data-original-title="" role="progressbar" data-total-expense="0" data-transitiongoal=""></div>
                </div>
            </div>
        </div>
    </div>

    <!-- card earnings -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ganhos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content earnings-content" style="display: block;">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <form class="earnings-form" data-parsley-validate>
                            <div class="form-group earnings-input">
                                <div class="col-sm-6">
                                    <input type="text" name="title" placeholder="Nome" class="form-control"
                                        required="required">
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" name="value" placeholder="R$ 0,00"
                                            class="form-control mask_money" required="required">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fa fa-check"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divider-dashed"></div>

                        <table class="table table-striped table-editable">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Valor</th>
                                    <th class="head-actions">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="earnings-tbody">
                                <!-- Table here -->
                            </tbody>
                            <tfoot>
                                <!-- <tr>
                                    <th>Total</th>
                                    <th>R$ 15.000,00</th>
                                    <th></th>
                                </tr> -->
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <table class="table-info">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-circle"></i>Total</td>
                                    <td class="value-total"> --- </td>
                                </tr>
                                <tr>
                                    <!-- <td><i class="fa fa-circle"></i></td> -->
                                    <!-- <td</td> -->
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="chart-info">
                            <canvas id="earnings_chart"></canvas>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /card earnings -->

    <!-- card expense -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Gastos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content expense-content" style="display: block;">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <form class="expense-form" data-parsley-validate>
                            <div class="form-group expense-input">
                                <div class="input col-sm-4">
                                    <input type="text" name="title" placeholder="Nome" class="form-control"
                                        required="required">
                                </div>
                                <div class="input col-sm-3">
                                    <input type="text" name="value" placeholder="R$ 0,00"
                                        class="form-control mask_money" required="required">
                                </div>

                                <div class="btn-group input col-sm-5" required="required">
                                    <select class="form-control" name="group">
                                        <option value="Alimentação">Alimentação</option>
                                        <option value="Estudo">Estudo</option>
                                        <option value="Transporte">Transporte</option>
                                        <option value="Moradia">Moradia</option>
                                    </select>

                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i
                                                class="fa fa-check"></i></button>
                                    </span>
                                </div>

                            </div>
                        </form>
                        <div class="divider-dashed"></div>

                        <table class="table table-striped table-editable">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Valor</th>
                                    <th>Grupo</th>
                                    <th class="head-actions">Ações</th>
                                </tr>
                            </thead>
                            <tfoot>
                            </tfoot>
                            <tbody class="expense-tbody">
                                <!-- Table here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <table class="table-info">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-circle"></i>Total</td>
                                    <td class="value-total"> --- </td>
                                </tr>
                                <tr>
                                    <!-- <td><i class="fa fa-circle"></i></td> -->
                                    <!-- <td</td> -->
                                </tr>
                            </tbody>
                        </table>

                        <!-- <div class="chart-info">
                            <canvas id="expense_chart"></canvas>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /card expense -->


</div>
<!-- /page content -->

{% endblock %}