{% extends "base.html" %} {% block content %} {% load static %}

<input id="csrf_token_url" type="hidden" value="{{ csrf_token }}" />
<input id="user_id" type="hidden" value="{{ user.pk }}" />

<input id="get_finances_url" type="hidden" value="{% url 'finances:get_finances' %}" />

<input id="save_earnings_url" type="hidden" value="{% url 'finances:save_earnings' %}" />
<input id="edit_earnings_url" type="hidden" value="{% url 'finances:edit_earnings' %}" />
<input id="fix_earnings_url" type="hidden" value="{% url 'finances:fix_earnings' %}" />
<input id="remove_earnings_url" type="hidden" value="{% url 'finances:remove_earnings' %}" />

<input id="save_expense_url" type="hidden" value="{% url 'finances:save_expense' %}" />
<input id="edit_expense_url" type="hidden" value="{% url 'finances:edit_expense' %}" />
<input id="fix_expense_url" type="hidden" value="{% url 'finances:fix_expense' %}" />
<input id="remove_expense_url" type="hidden" value="{% url 'finances:remove_expense' %}" />

<input id="get_expenses_category_url" type="hidden" value="{% url 'finances:get_expenses_category' %}" />
<input id="save_category_expense_url" type="hidden" value="{% url 'finances:save_category_expense' %}" />
<input id="edit_category_expense_url" type="hidden" value="{% url 'finances:edit_category_expense' %}" />
<input id="remove_category_expense_url" type="hidden" value="{% url 'finances:remove_category_expense' %}" />

{% block style %}

<!-- Sweet Alert -->
<link href="{% static 'vendors/SwetAlert/sweetalert2.min.css' %}" rel="stylesheet">

{% endblock %}

<!-- page content -->
<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="header-date">
                <div class="col-md-12">
                    <h3>Gerenciamento de finanças</h3>
                    <p> ----------------------------</p>
                </div>
            </div>
        </div>
    </div>

    <!-- card earnings -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>QR Code</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: block;">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <video muted playsinline id="qr-video" style="width: 100%;"></video>
                            </div>
                        </div>
                    </div>
                    <!-- <div>
                        <select id="inversion-mode-select">
                            <option value="original">Scan original (dark QR code on bright background)</option>
                            <option value="invert">Scan with inverted colors (bright QR code on dark background)</option>
                            <option value="both">Scan both</option>
                        </select>
                        <br>
                    </div> -->
                    <b>Link detectado: </b>
                    <a id="cam-qr-result" href="#" target=”_blank”>#</a>
                    <br>
                    <!-- <b>Last detected at: </b> -->
                    <!-- <span id="cam-qr-result-timestamp"></span> -->
                    <!-- <hr> -->

                    <!-- <h1>Scan from File:</h1>
                    <input type="file" id="file-selector">
                    <b>Detected QR code: </b>
                    <span id="file-qr-result">None</span> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /card earnings -->
</div>
<!-- /page content -->


{% endblock %}

{% block scripts %}
<script type="module">
    import QrScanner from "{% static 'js/qr_scanner/qr-scanner.min.js' %}";
    QrScanner.WORKER_PATH = "{% static 'js/qr_scanner/qr-scanner-worker.min.js' %}";

    const video = document.getElementById('qr-video');
    // const camHasCamera = document.getElementById('cam-has-camera');
    const camQrResult = document.getElementById('cam-qr-result');
    // const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
    // const fileSelector = document.getElementById('file-selector');
    // const fileQrResult = document.getElementById('file-qr-result');

    const DATE = {
        'year': '',
        'month': '',
        'day': ''
    }

    let date = new Date();
    DATE.month = date.getMonth() + 1;
    DATE.year = date.getFullYear();
    DATE.day = date.getDate();

    function setResult(label, result) {
        label.textContent = result;
        label.href = result;
        // camQrResultTimestamp.textContent = new Date().toString();
        label.style.color = 'teal';
        clearTimeout(label.highlightTimeout);
        label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
        save_expense(result);
        scanner.stop();
    }

    // ####### Web Cam Scanning #######

    // QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

    var scanner = new QrScanner(video, result => setResult(camQrResult, result));
    scanner.start();


    // document.getElementById('inversion-mode-select').addEventListener('change', event => {
    //     scanner.setInversionMode(event.target.value);
    // });

    // ####### File Scanning #######

    // fileSelector.addEventListener('change', event => {
    //     const file = fileSelector.files[0];
    //     if (!file) {
    //         return;
    //     }
    //     QrScanner.scanImage(file)
    //     .then(result => setResult(fileQrResult, result))
    //     .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
    // });


    function save_expense(url){

        $.ajax({
            url: "{% url 'finances:save_expense_of_qr_code' %}",
            method: 'POST',
            beforeSend: function (request) {
                return request.setRequestHeader('X-CSRFToken', $('#csrf_token_url').val());
            },
            data: {
                'url': url,
                'date': JSON.stringify(DATE),
            },
            success: function (data) {
                if (data.status == 'success') {
                    new PNotify({
                        title: data.message_title,
                        text: '',
                        delay: 1000,
                        type: 'success',
                        styling: 'bootstrap3'
                    });

                    // set_total_expanse(data.expense.total)

                    // append_expanse(data.expense.expense, data.expense.category)

                    // clear_form(form);

                } else if (data.status == 'error') {
                    new PNotify({
                        title: data.message_title,
                        text: '',
                        delay: 1000,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            },
            error: function (e) {
                scanner.start();
                console.error('ERROR AJAX:', e)
            },
        });
    }

</script>
{% endblock %}